
body{
    margin:auto auto auto auto;
    width: 70%;
    height: 100vh;
    /* border: 1px solid rgb(59, 89, 119);  */
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    background: url(/pics/bg_bggenerator_cat.png);
}
.main_block{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;
    height: 100vh;
}
.workspace{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem 30rem auto;
    /*padding-top: 10px;
    padding-right: 10px;
    align-self: stretch;*/
}

.form_connectionORA{

        /*
         width: 35%;
        padding-right: 10px;
        margin-left: 32%;*/
}

.list-group{
    border-right: 1px solid rgba(0,0,0,.125);
    border-radius: 0%;
}

.hide{
    display: none;
}

.send_area{
    height: 300px;
    width: 100%;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.075);
}
.my_title{
    justify-self: center;
    align-self: end;
    font-size: 2rem;
}

.my_title h1{
    font-size: 2rem;
}

.state_connect{
        justify-self: end;
        margin-right: 1rem;
    /*
    color: red;
       display: flex;
        flex-direction:row-reverse;

    */
}

.btn-danger{
    margin-left: 20px;
}

.queues_list{
   /* display: block;
   height: 30%;
       width: 100%;
   */

    grid-column:1/4;
    grid-row: 2/3;
    overflow: scroll;
    margin-bottom: 1rem!important;
    border-top: 3px solid rgb(13, 110, 253);
    border-bottom: 3px solid rgb(13, 110, 253);
}
.form_send_msg{
   grid-column:1/4;
   grid-row: 3/4;
}

.btn-danger{
    width: 100%;
    margin-left: 0px;
}

body{
 /*overflow: hidden;*/
}