<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AQ_UTILS_ERROR</title>
    <link href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
   <div class="main_block">
    <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action active" aria-current="true">
            Connection database
        </a>
        <a href="/send_msg" class="list-group-item list-group-item-action">Send message</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Browse message</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Read message</a>
        <a class="list-group-item list-group-item-action disabled">disabled</a>
        <a class="list-group-item list-group-item-action disabled">disabled</a>
        <a class="list-group-item list-group-item-action disabled">disabled</a>
        <a class="list-group-item list-group-item-action disabled">disabled</a>
        <a class="list-group-item list-group-item-action disabled">disabled</a>
        <a class="list-group-item list-group-item-action disabled">disabled</a>
        <a class="list-group-item list-group-item-action disabled">disabled</a>
        <a class="list-group-item list-group-item-action disabled">disabled</a>
        <div class="disconnect_c">
            <form action="/disconnect" method="get">
                <input class="btn btn-danger" type="submit" value="Disconnect">
            </form>
        </div>
    </div>

    <div class="workspace">
        <div>
            <!--<p>1</p>-->
        </div>
        <div>
            <h3>Error Info</h3>
        </div>
        <div>
            <!--<p>3</p>-->
        </div>
        <div class="err_info">
            <!--<p>4</p>-->
            <p th:utext="'<b>HTTP ERROR CODE: </b>'+${code}">none</p>
            <p th:utext="'<b>Exception: </b>'+${exp}">none</p>
            <p th:utext="'<b>Message: </b>'+${err_msg}">none</p>            
        </div>
        <div>
            <!--<p>5</p>-->
        </div>
        <div>
            <!--<p>6</p>-->
        </div>
        <div>
            <!--<p>7</p>-->
        </div>
        <div>
            <!--<p>8</p>-->
        </div>
        <div>
            <!--<p>9</p>-->
        </div>
    </div>
   </div>
</body>
</html>